<div class="modal fade" id="media-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-city"></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="user">
              <img src="" alt="" class="img-profile">
              <span class="username"></span>
            </div>
          </div>
          <div class="col-sm-6">
            <!-- <%= render actions %> -->
          </div>
        </div>
        <img src="" alt="" class="image">
      </div>
    </div>
  </div>
</div>
