<div class="landscape">
  <div class="row">
    <div class="col-sm-12">
      <h1>No HU Rewards suas fotos valem muito</h1>
      <%= image_tag 'iphone.jpg', class: "iphone" %>
      <div class="signup">
        <h2>Passo 1 - Cadastre-se</h2>
        <p>É necessário que você faça um pequeno cadastro para que possamos <em>entrar em contato com você</em> caso sua foto seja selecionada. Informe um <em>email para contato</em> e seu <em>username no instagram</em>.</p>
        <%= render 'devise/registrations/new' %>

      </div>
     </div>
  </div>
  <div class="row">

  </div>
</div>