.gallery{
  .media{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 15px;;
  }
  .city{
    text-align: center;
    color: #2E2B2B;
    font-size: 14px;
    padding-bottom: 10px;
  }
  .image{
    background: #fff;
    -webkit-box-shadow: -1px 4px 7px 0px rgba(0, 0, 0, 0.40);
    -moz-box-shadow: -1px 4px 7px 0px rgba(0, 0, 0, 0.40);
    box-shadow: -1px 4px 7px 0px rgba(0, 0, 0, 0.40);
    margin-bottom: 5px;
    img{
      padding: 0;
    }
  }
  img{
    border: none;
    width: 100%;
  }
  .actions{
    height: 40px;
    line-height: 50px;
    a{
      padding: 0 10px;
      font-size: 20px;
      text-decoration: none;
      &.icon-heart-o{
        color: #ff0000;
      }
      &.icon-trash-o{
        color: #666666;
      }
    }
  }
  .username{
    clear: both;
    margin-top: 10px;
    font-size: 12px;
    color: #595959;
    line-height: 30px;
    img{
      border-radius: 100%;
      width: 30px;
      height: 30px;
      float: left;
      margin-right: 10px;
    }
  }
}
.modal{
  .modal-dialog{
    height: 460px;
    width: 450px;
  }
  .modal-header{
    border: none;
  }
  .modal-content{
    border-radius: 4px;
  }
}
