.navbar-brand{
  background: image-url('logo-rewards.png') no-repeat;
  width: 166px;
  height: 35px;
  margin-top: 5px;
}
.navbar{
  background: #003966;
}

main {
  background-color: #fff !important;
  padding-top: 10px;
  padding-bottom: 10px!important;
}
