<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to '', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse nav-cities">
      <% if collections.size %>
        <ul class="nav navbar-nav pull-right">
          <div class="dropdown">
            <a href="#" class="dropdown-toggle collections-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Filtrar Cidades <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% collections.each do |collection| %>
                <li><%= link_to("##{collection.city_slug}", collection_path(id: collection.city_slug)) %></li>
              <% end %>
            </ul>
          </div>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
